<div class="row">
  <div class="col text-center">
    <i class="fas fa-exclamation-triangle fa-7x"></i>

    <h1 class='mt-5'>There's already a user with this email!</h1>
    <p><a href="/" class="btn btn-primary">Go Home</a></p>
  </div>
</div>